{% extends "layout.html"%}
{% block content %}
<!-- Modal -->
<div class="modal fade" id="examples" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Expert Dataset</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="list-group"></div>
      </div>
    </div>
  </div>
</div>

<!-- <form method="POST"> -->
<div class="row g-3" id="form">
  <div class="col-md-3">
    <div class="input-group">
      <span class="input-group-text" id="models_label">Model:</span>
      <select class="form-control" name="models" id="model_sel" aria-describedby="models_label">
        <option value="gpt-3.5-turbo">GPT Turbo (gpt-3.5-turbo)</option>
        <option value="gpt-3.5-turbo-16k">GPT Turbo 16k (gpt-3.5-turbo-16k)</option>
        <option value="gpt-4">GPT-4</option>
        <option value="gpt-4-turbo">GPT-4 Turbo</option>
        <option value="o1-mini">o1-mini</option>
        <option value="gpt-4o">GPT-4o</option>
        <option value="gpt-4o-mini">GPT-4o-mini</option>
        <option value="deepseek-chat">DeepSeek-V3</option>
        <option value="deepseek-reasoner">DeepSeek-R1</option>
        <!-- <option value="qwen2.5-coder:latest">qwen2.5-coder:latest</option> -->
        <!-- <option value="llama3.2:latest">llama3.2:latest</option> -->
        <!-- <option value="codellama:latest">codellama:latest</option> -->
        <!-- <option value="qwen2.5:72b"> qwen2.5:72b</option> -->
        <!-- <option value="gemini-pro">Google Gemini 1.0</option> -->
        <!-- <option value="text-bison">PaLM 2 (text-bison)</option> -->
        <!-- <option value="gemini-pro">Google Gemini 1.0</option>
        <option value="gemini-pro">Google Gemini 1.0</option> -->
      </select>
    </div>
  </div>
  <div class="col-md-3">
    <div class="input-group">
      <span class="input-group-text"  id="mode_label">Prompt Mode:</span>
      <select class="form-control" name="mode" id="prompt_mode" aria-describedby="prompt_mode">
        <option value="simple">Trivial prompt</option>
        <option value="lambda">Lambda as intermediate</option>
      </select>
    </div>
  </div>

  <div class="col-md-3">
    <div class="input-group">
        <span class="input-group-text" id="protocol_label">Protocol:</span>
        <select class="form-control" name="prompts" id="protocol_sel" aria-describedby="prompts_label">
          <option value="running_ex">1. running example</option>
          <option value="exercise">2. Toy protocol</option>
          <option value="nspk">3. NSPK</option>
          <option value="nssk">4. NSSK</option>
          <option value="sigfox">5. Sigfox</option>
          <option value="Denning_Sacco">6. Denning-Sacco</option>
          <option value="or">7. Otway-Rees</option>
          <option value="Yahalom">8. Yahalom</option>
          <option value="kca">9. Kao-Chow Authentication V1</option>
          <option value="X509_1">10. CCITT X.509.1</option>
          <option value="Woo_Lam_Pi_f">11. Woo and Lam</option>
          <option value="lake">12. LAK06</option>
          <option value="splice">13. Splice</option>
          <option value="Neu_Stu">14. Neuman-Stubblebine</option>
          <option value="naxos">15. NAXOS</option>
          <option value="ssh">16. SSH</option>
          <option value="edhoc">17. EDHOC</option>
          <option value="kemtls">18. KEMTLS</option>
      </select>
    </div>
</div>

  <div class="col-md-3">
    <div class="field-group"><label class="field-label" style="padding-right: 1em;">Temperature:</label>
      <span id="temp_value"></span>
      <input type="range" class="form-range" step="0.1" value="0.4" min="0" max="1" id="temperature" name="temperature"
        oninput="setLabel(this)">
    </div>
  </div>


  <div class="col-md-12">
    <!-- 1. Diagram  -->
    <div class="widget-tab-contents" id="diagramDivName-container">
      <div id="diagramDivName" style="height:100px; float:left; background-color: #000000"></div>
      <div id="diagramMSC" style="width:35%; height:600px; float:left; background-color: #eee"></div>
      <!-- <input style="position: absolute; top: 0pt; right: 0px; margin-right: 15pt" class="btn-primary" type="submit" , name="parse" ,
      onclick="parseReq()" , value="parse" /> -->
      <!-- 1.1 sub-area: loaded texts -->
      <!-- <div class="my-text" id="loadtext"   
        style="position: relative; height: 200px; border-bottom: 0px solid #030303; overflow-y:scroll;background-color:white;">
        <input style="position: absolute; top: 0pt; right: 0px; margin-right: 7pt" class="btn-primary" type="submit" , name="parse" ,
        onclick="parseReq()" , value="parse" />{{loadText|safe}}
      </div> -->
      </div>
     

      <div style="width:65%; float:right;"> <!-- New container for CodeEditor and sapic -->
      
        <!-- sapic -->
        <div class="my-checkIR" id="sapic" 
          style="position: relative; height: 600px; width:50%; border-left: 2px solid #070707;  background-color:white;float:left;">
          <div id="logEditor" style="height: 600px; width: 100%;"></div>
          <input style="position: absolute; top: 0pt; right: 0px; margin-right: 15pt" class="btn-primary" type="submit" , name="parse" ,
          onclick="parseReq()" , value="parse" />
          <input style="position: absolute; top: 30pt; right: 0px; margin-right: 15pt" class="btn-primary" type="submit" , name="analyze" ,
        onclick=" analysisReq()" , value="analyze" />
         <input style="position: absolute; top: 60pt; right: 0px; margin-right: 15pt" class="btn-primary" type="submit" , name="rewrite" ,
        onclick=" rewriteReq()" , value="rewrite" />
        </div>

        <!-- CodeEditor -->
        <div class="myCodeEditor" id="CodeEditor_button"
        style="position: relative; height: 600px; width:50%; border-left: 2px solid #070707; border-right: 2px solid #070707; background-color:white;  float:left;">
        <div id="sapicEditor"style="height: 600px; width: 100%;">
/* Jan 2025 
* Frontend of the tool.
* Note: This is the editable SAPIC+ specification,                    
* which allows users to modify the generated model.
* The .spthy file can be downloaded via the button.
**/
      </div>
        <input style="position: absolute; top: 0pt; right: 0px; margin-right: 15pt" class="btn-primary" type="submit" , name="synthesis" ,
        onclick="synthesisReq()" , value="Compile" />
      </div>

      </div>
      
      <div id="InspectorDiv" class="inspector"></div>


      <script src="/ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

      <script src="/static/editor.js"></script>

    </div>

  </div>
  <!-- </form> -->


  <script src="/static/go-debug.js"></script>
  <script src="https://www.unpkg.com/jquery@3.6.4/dist/jquery.min.js"></script>
  <script src="https://gojs.net/latest/extensions/DataInspector.js"></script>
  <script src="/static/main.js"></script>

  {% endblock %}