{% extends "layout.html"%}
{% block content %}
<!-- Modal -->
<div class="modal fade" id="examples" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Expert Dataset</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
             <div class="modal-body">
                <div class="list-group"></div>
            </div>
        </div>
    </div>
</div>

<!-- <form method="POST"> -->
<div class="row g-3" id="form">
  <div class="col-md-3">
      <div class="input-group">
      <span class="input-group-text" id="models_label">Model:</span>
      <select class="form-control" name="models" id="models" aria-describedby="models_label">
          <option value="code-davinci-002" disabled>Codex (deprecated, code-davinci-002)</option>
          <option value="text-davinci-003">GPT (text-davinci-003)</option>
          <option value="text-bison@001">PaLM (text-bison@001)</option>
          <option value="code-davinci-edit-001">Codex edit (code-davinci-edit-001)</option>
          <option value="gpt-3.5-turbo">GPT Turbo (gpt-3.5-turbo)</option>
          <option value="gpt-3.5-turbo-16k">GPT Turbo 16k (gpt-3.5-turbo-16k)</option>
          <option value="bloom">bloom</option>
          <option value="bloomz">bloomz</option>
      </select>
      </div>
  </div>
  <div class="col-md-3">
    <div class="input-group">
        <span class="input-group-text" id="num_tries_label">Number of tries:</span>
        <input type="number" id="num_tries" class="form-control" name="num_tries"
            aria-describedby="num_tries_label" value="{{ num_tries }}" max="5" />
    </div>
</div>
<div class="col-md-3">
    <div class="field-group"><label class="field-label" style="padding-right: 1em;">Temperature:</label>
        <span id="temp_value"></span>
        <input type="range" class="form-range" step="0.1" value="2" min="0" max="10" id="temperature"
            name="temperature" oninput="setLabel(this)">
    </div>
</div>
  
  <div class="col-md-12">
    <div class="widget-tab-contents" id="buttonGroup">
      <input style="float: right; margin-right: 10pt" class="btn-primary" type="submit", name="repair", onclick="repairReq()", value="Repair"/>
      <input style="float: right; margin-right: 10pt" class="btn-primary" type="submit", name="synthesis", onclick="synthesisReq()", value="synthesis"/>
      <input style="float: right;margin-right: 10pt" class="btn-primary" type="submit", name="analysis", onclick="analysisReq()", value="analysis"/>
      <input style="float: right; margin-right: 10pt" class="btn-primary" type="submit", name="translation", onclick="parseReq()", value="Parse"/>
    </div>
  </div>
  

  
  <div class="col-md-12">
    <!-- 1. Diagram  -->
    <div class="widget-tab-contents" id="diagramDivName-container">
      <div id="diagramDivName" style="width:70%; height:600px; float:left; background-color: #eee"></div>
        <!-- 1.1 sub-area: loaded texts -->
      <div class="my-text" id="loadtext" style="height: 200px; border: 0px solid #030303; overflow-y:scroll;background-color:white;">{{loadText|safe}}</div>  
        <!-- <div class="mb-4">         </div> -->
        <!-- 1.2. sub-area: intermediate representation for analysis -->
      <div class="my-checkIR" id="checkIR" style="height: 200px; border: 0px solid #000000; background-color:white; overflow-x: auto; overflow-y: scroll;"></div>
    <!-- 2. add a Inspector -->
      <div class="my-checkIR" id="sapic" style="height: 200px;border: 0px solid #070707;  background-color:white; overflow-x: auto; overflow-y: scroll;"></div>
      <div id="InspectorDiv" class="inspector"></div>
  </div>

</div>
<!-- </form> -->

<script src="https://unpkg.com/gojs/release/go-debug.js"></script>
<script src="https://www.unpkg.com/jquery@3.6.4/dist/jquery.min.js"></script>
<script src="https://gojs.net/latest/extensions/DataInspector.js"></script>
<script>

function repairReq(){
  var diagram = go.Diagram.fromDiv("diagramDivName");
  dataNodes= diagram.model.nodeDataArray;
  var IsGroup = dataNodes.filter(function(dataNode) {
    return dataNode.isGroup;
  });

  const repairreq = {
    type: `repair`,
    groups: IsGroup,
  };

  fetch(`${window.location.href}`,{
      method: "POST",  
      credentials: "include",
      cache: "no-cache",
      headers: new Headers({ "content-type": "application/json"}),
      body: JSON.stringify(repairreq)
    })
    .then(response => response.json())
        .then(data => {
            console.log('Response from Flask:', data);
            document.getElementById("sapic").innerHTML = data.code;
            // Update the diagram //
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error: ' + error.message);
        });
}

function synthesisReq(){
  var diagram = go.Diagram.fromDiv("diagramDivName");
  dataNodes= diagram.model.nodeDataArray;
  var IsGroup = dataNodes.filter(function(dataNode) {
    return dataNode.isGroup;
  });

  const analysisreq = {
    type: `synthesis`,
    groups: IsGroup,
  };

  fetch(`${window.location.href}`,{
      method: "POST",  
      credentials: "include",
      cache: "no-cache",
      headers: new Headers({ "content-type": "application/json"}),
      body: JSON.stringify(analysisreq)
    })
    .then(response => response.json())
        .then(data => {
            console.log('Response from Flask:', data);
            document.getElementById("sapic").innerHTML = data;
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error: ' + error.message);
        });
}

function analysisReq(){
  var diagram = go.Diagram.fromDiv("diagramDivName");
  dataNodes= diagram.model.nodeDataArray;
  var IsGroup = dataNodes.filter(function(dataNode) {
    return dataNode.isGroup;
  });

  const analysisreq = {
    type: `analysis`,
    groups: IsGroup,
  };

  fetch(`${window.location.href}`,{
      method: "POST",  
      credentials: "include",
      cache: "no-cache",
      headers: new Headers({ "content-type": "application/json"}),
      body: JSON.stringify(analysisreq)
    })
    .then(response => response.json())
        .then(data => {
            console.log('Response from Flask:', data);
            document.getElementById("checkIR").innerHTML = data;
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error: ' + error.message);
        });
}

function clearGroupExpr(diagram, group){
  for (var i = diagram.model.nodeDataArray.length - 1; i >= 0; i--) {
    let nodeData = diagram.model.nodeDataArray[i];
    if (nodeData && nodeData.key.startsWith(`${group}-`)) {
      diagram.model.removeNodeData(nodeData);
    }
  }
}


function updateExpr(diagram, nodes){
  const newExpNode = nodes[0];              // the first node is ExpNode, others are subExpNode
  const groupNode = nodes[0];
  const group = newExpNode.key.charAt(0);   // newExpNode: '4-subtranslation'
  var groupData = diagram.findNodeForKey(group).data;

  diagram.startTransaction("updateNodes");
  /* Delete ExpNode and all subExpNode for a group */
  clearGroupExpr(diagram, group);

  /* Add (update) new Nodes and create new contexts (subtranslations) */
  for (var i = 1; i < nodes.length; i++){
    diagram.model.addNodeData(nodes[i])
  }

  /* Now update the GroupTemplate, which corresponds to data source */
  /* {  'category': 'ExpNode', 'exp': 'Send(role(A), role(B), aenc(fresh(m), k))', 
        'group': '4', 'items': None, 'key': '4-translation', 'pc': '4'  } */
  /* update the contexts */
  diagram.model.setDataProperty(groupData, "exp", groupNode.exp);
  diagram.model.setDataProperty(groupData, "contexts", groupNode.contexts);  
  diagram.commitTransaction("updateNodes");

}


function parseReq(){
    var diagram = go.Diagram.fromDiv("diagramDivName");
    var jsonData = diagram.model.toJSON();
    console.log(jsonData)

    var selectedNode = diagram.selection.first();
    console.log(`selection:`)
    if (selectedNode) {
        var selectedNodeData = selectedNode.data;
        var jsonSelect = JSON.stringify(selectedNodeData)
        console.log(jsonSelect);  // 输出选中对象的数据
    } 
    else {
      selectedNodeData = {}
      console.log("No object selected.");   
    }

    const parsereq = {
      type: `parse`,
      diagram: diagram.model,
      selection: selectedNodeData
    };
    
    fetch(`${window.location.href}`,{
      method: "POST",  // 可以是 'GET' 或 'POST'
      credentials: "include",
      cache: "no-cache",
      headers: new Headers({ "content-type": "application/json"}),
      body: JSON.stringify(parsereq)
    })
    .then(response => response.json())
        .then(data => {
            console.log('Response from Flask:', data);
            updateExpr(diagram, data)
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error: ' + error.message);
        });
  }


function debug(message) {
    $('#debug').html(message);
}

function debug_obj(obj) {
    $('#debug').html(JSON.stringify(obj));
}

function visualize(divname, MODEL) {
    var $$ = go.GraphObject.make;
    var diagram =
        $$(go.Diagram, divname,  // must name or refer to the DIV HTML element
            {
                initialContentAlignment: go.Spot.Center,
                layout: $$(go.ForceDirectedLayout),
                // moving and copying nodes also moves and copies their subtrees
                "commandHandler.copiesTree": true,  // for the copy command
                "commandHandler.deletesTree": true, // for the delete command
                "draggingTool.dragsTree": true,
                "diagram.maxSelectionCount": 1,
                "undoManager.isEnabled": false
            });

    var V = {};

    var R = {}; // store the roles
    var k = 0;
    var fill_colors = ["", "#FFF8DC", "#87CEFA", "#E6E6FA"]
    for (let i in MODEL.vertices) {
        var v = MODEL.vertices[i];
        V[v.hashcode] = v;
        v.created = false;

        if(!(v.role in R)) {
          R[v.role] = k;
          k += 1;
        }
    }
    console.log(V)
    console.log("OKOK")
    console.log(R)

    var init_state = MODEL.vertices[0];
    init_state.contexts[init_state.current] = -1;

    function clear_hl() {
        for (let i = 1; i <= 100; i++) {
            $(`#loadtext`).find("#True-" + i).attr('style', '');
        }
    }

    function clear_hl_checkIR() {
        for (let i = 1; i <= 100; i++) {
            $(`#checkIR`).find("#True-" + i).attr('style', '');
        }
    }

    function hl_text(line, color) {
        $(`#loadtext`).find("#True-" + line).attr('style', 'background-color:' + color);
    }

    function hl_checkIR(line, color) {
        console.log(`line:${line}`);
        $(`#checkIR`).find("#True-" + line).attr('style', 'background-color:' + color);
    }

    function update_selection() {
        clear_hl();
        clear_hl_checkIR();
        var sel = diagram.selection.first();
        if (sel !== null) {
            var data = sel.data;
            if (data.key) {
                hl_text(data.pc, '#61eb76');
                hl_checkIR(data.pc, '#f59898');
            } else {
                var st = V[data.from];
                var ed = V[data.to];
                if (st.contexts[st.current]) {
                    hl(st.contexts[st.current].pc, '#f59898');
                }
                if (ed.contexts[ed.current]) {
                    hl(ed.contexts[ed.current].pc, '#61eb76');
                }
            }
        }
    }

    function expandNode(node) {
        diagram.startTransaction("CollapseExpandTree");
        var data = node.data;
        if (!data.everExpanded) {
            diagram.model.setDataProperty(data, "everExpanded", true);
            var numchildren = createSubTree(data);
            if (numchildren === 0) {
                node.findObject('TREEBUTTON').visible = false;
            }
        }
        if (node.isTreeExpanded) {
            diagram.commandHandler.collapseTree(node);
        } else {
            diagram.commandHandler.expandTree(node);
        }
        diagram.commitTransaction("CollapseExpandTree");
    }

    function addInitNode(model, nodedata) {
        const key = nodedata.key;
        V[key].created = true;
        nodedata.isGroup = true;
        nodedata.exp = "";
        model.addNodeData(nodedata);
    }

    function addNode(model, nodedata) {
      /* nodedata is a dict, 
       *  var childdata = {
       *      key: key,
       *      parent: parentdata.key  };*/   
        const key = nodedata.key;
        var v = V[key];
        if (v.created) {
            return;
        }
        v.created = true;

        /* nodedata is a groupTemplate */
        nodedata.current = v.current;
        nodedata.isGroup = true;
        nodedata.role = v.role;
        nodedata.exp = v.exp;
        console.log(`this is exp:${nodedata.exp}`)
        nodedata.contexts = v.contexts;
        nodedata.pc = nodedata.key;  // pc is the corresponding evt index
        nodedata.bgrcolor = fill_colors[R[v.role]];

        var ret = [nodedata]

        // ret.push(
        //     {
        //       key: `${key}-translation`,
        //       group: key,
        //       items: null, 
        //       pc: nodedata.pc,
        //       exp: nodedata.exp,
        //       category: 'ExpNode'
        //     }
        // )

        for (let i in v.contexts) {
            var c = v.contexts[i];
            if (c) {
                category = 'subExpNode'
                ret.push(
                    { key: `${key}-subtranslation-${i}`, 
                      sub: `${c.nl} : ${c.sp}`,  //nl, sp is the sub-natural language and exp.
                      nl: c.nl,
                      sp: c.sp,
                      items: null, 
                      group: key, 
                      pc: nodedata.pc, 
                      category: category }
                )
            }
        }

        for (let n of ret) {
            model.addNodeData(n);
        }
    }

    function createSubTree(parentdata) {
        var model = diagram.model;
        var parent = diagram.findNodeForData(parentdata);
        var children = [];

        for (let i in MODEL.edges) {
            var st = MODEL.edges[i][0];
            var ed = MODEL.edges[i][1];
            // var label = MODEL.edges[i][2];
            if (st == parentdata.key) {
                children.push({ key: st, ed: ed});
            }
        }

        for (var i = 0; i < children.length; i++) {
            var key = children[i].ed;
            var childdata = {
                key: key,
                parent: parentdata.key
            };
            addNode(model, childdata);

            var linkdata = {
                from: parentdata.key,
                to: children[i].ed
                // label: children[i].label
            };
            // parseLink(linkdata);
            model.addLinkData(linkdata);

            // position the new child node close to the parent
            var child = diagram.findNodeForKey(key);
            child.location = parent.location;
        }

        return children.length
    }

    const defaultNode = $$(go.Node, "Auto",
        $$(go.Shape, "Rectangle", { fill: "white" }),
        $$(go.TextBlock,
            {
                font: "12px Monospace",
                stroke: "gray",
                margin: 2
            },
            new go.Binding("text", "text"))
    );

    const leftAlign = {
        alignment: go.Spot.TopLeft,
        defaultAlignment: go.Spot.Left,
        stretch: go.GraphObject.Horizontal
    };

    const ExpNode = $$(go.Node, "Auto",
        $$(go.Panel, "Vertical",
            $$(go.Panel, "Auto",
                leftAlign,
                $$(go.TextBlock,
                    {
                        font: "italic bold 8pt 'Times New Roman'",
                    },
                    new go.Binding("text", "exp").makeTwoWay()
                )
            ),
            $$(go.Panel, "Auto",
                leftAlign,
                $$(go.Shape, "Rectangle", { fill: "white" }),
                $$(go.Panel, "Vertical",
                    {
                        alignment: go.Spot.TopLeft,
                        defaultAlignment: go.Spot.Left,
                        stretch: go.GraphObject.Horizontal
                    },
                    new go.Binding("itemArray", "items"))
            ),
        )
    );

    const subExpNode = $$(go.Node, "Auto",
        $$(go.Panel, "Vertical",
            $$(go.Panel, "Auto",
                leftAlign,
                $$(go.TextBlock,
                    {
                        font: "10px Sans-Serif", //Sans-Serif
                    },
                    // new go.Binding("text", "sub").makeTwoWay()
                    new go.Binding("text", "", function(data) {
                            return `${data.nl} : ${data.sp}`;
                        }).makeTwoWay()
                )
            ),
            $$(go.Panel, "Auto",
                leftAlign,
                $$(go.Shape, "Rectangle", { fill: "white" }),
                $$(go.Panel, "Vertical",
                    {
                        alignment: go.Spot.TopLeft,
                        defaultAlignment: go.Spot.Left,
                        stretch: go.GraphObject.Horizontal
                    },
                    new go.Binding("itemArray", "items"))
            )
        )
    );

    const nodetmpl = new go.Map();
    nodetmpl.add('subExpNode', subExpNode);
    nodetmpl.add('ExpNode', ExpNode);
    nodetmpl.add('', defaultNode);
    diagram.nodeTemplateMap = nodetmpl;

    diagram.groupTemplate =
        $$(go.Group, "Spot",
            {
                isSubGraphExpanded: false,
                isTreeExpanded: false,
                layout: $$(go.LayeredDigraphLayout,
                      { direction: 0, columnSpacing: 5, layerSpacing: 5 }),
                isTreeLeaf: false
            },
          $$(go.Panel, "Auto", 
            $$(go.Shape, "RoundedRectangle",
                { parameter1: 10, fill: "#ddd" },
                new go.Binding("fill", "bgrcolor")
            ),
            /* position header above the subgraph */
            $$(go.Panel, "Vertical", 
                { defaultAlignment: go.Spot.Center },
                /*  the header */
                $$(go.Panel, "Horizontal",
                    { defaultAlignment: go.Spot.Top },
                    /* this Panel acts as a Button */
                    $$("SubGraphExpanderButton", { name: "SUBGRAPHBUTTON", width: 12, height: 12 }),  
                    /* group title near top, next to button */
                    $$(go.TextBlock, { font: "italic bold 8pt 'Times New Roman'" }, new go.Binding("text", "exp").makeTwoWay() )
                ),
                /* represents area for all member parts */
                $$(go.Placeholder,     
                    { padding: new go.Margin(5, 5), background: "white"}
                )
            ),
          ),
            $$("TreeExpanderButton",
                {
                    name: 'TREEBUTTON',
                    width: 12, height: 12,
                    alignment: go.Spot.TopRight,
                    alignmentFocus: go.Spot.Center,
                    click: (e, obj) => {  // OBJ is the Button
                        var node = obj.part;  // get the Node containing this Button
                        if (node === null) return;
                        e.handled = true;
                        expandNode(node);
                    }
                }
            )
        );

    const defaultLink = $$(go.Link, {
        routing: go.Link.Normal,
        curve: go.Link.Bezier,
        toShortLength: 2
    },
        $$(go.Shape), 
        $$(go.Shape, { toArrow: "Standard" }),
        $$(go.TextBlock, new go.Binding("text", "label"),
            {
                segmentOffset: new go.Point(0, -10),
                segmentOrientation: go.Link.OrientUpright
            }),
        $$(go.TextBlock,
            { font: "12px Monospace" },
            new go.Binding("text", "content"),
            {
                segmentOffset: new go.Point(0, 17),
                segmentOrientation: go.Link.OrientUpright
            })
    );

    const shortLink = $$(go.Link, {}, $$(go.Shape));

    const templmap = new go.Map();
    templmap.add('short', shortLink);
    templmap.add('', defaultLink);
    diagram.linkTemplateMap = templmap;

    // create the model with a root node data
    initdata = {
        key: init_state.hashcode,
        everExpanded: false
    };

    diagram.model = new go.GraphLinksModel([]);
    addInitNode(diagram.model, initdata);
    diagram.addDiagramListener("ChangedSelection", () => update_selection());
    update_selection();
    var expInspector = new Inspector('InspectorDiv', diagram,
        {
          // allows for multiple nodes to be inspected at once
          // multipleSelection: true,
          // max number of node properties will be shown when multiple selection is true
          showSize: 4,
          // when multipleSelection is true, when showAllProperties is true it takes the union of properties
          // otherwise it takes the intersection of properties
          // showAllProperties: false,
          // uncomment this line to only inspect the named properties below instead of all properties on each object:
          includesOwnProperties: false,
          properties: {
            "exp": { show: Inspector.showIfPresent },
            "nl": { show: Inspector.showIfPresent },
            "sp": { show: Inspector.showIfPresent },
            // key would be automatically added for nodes, but we want to declare it read-only also:
            "key": { readOnly: true, show: Inspector.showIfPresent },
            // color would be automatically added for nodes, but we want to declare it a color also:
            "color": { show: Inspector.showIfPresent, type: 'color' },
            // Comments and LinkComments are not in any node or link data (yet), so we add them here:
            // "Comments": { show: Inspector.showIfNode },
            // "LinkComments": { show: Inspector.showIfLink },
            // "isGroup": { readOnly: true, show: Inspector.showIfPresent },
            // "flag": { show: Inspector.showIfNode, type: 'checkbox' },
            // "state": {
            //   show: Inspector.showIfNode,
            //   type: "select",
            //   choices: (node, propName) => {
            //     if (Array.isArray(node.data.choices)) return node.data.choices;
            //     return ["one", "two", "three", "four", "five"];
            //   }
            // },
            // "choices": { show: false },  // must not be shown at all
            // an example of specifying the  type
            // "password": { show: Inspector.showIfPresent, type: 'password' }
          }
        });
}
</script>

<script type="text/javascript">
    visualize('diagramDivName', {
  "source": "def main():\n    pid = sys_fork()\n    sys_sched()  # non-deterministic context switch\n    if pid == 0:\n        sys_write('World\\n')\n    else:\n        sys_write('Hello\\n')\n",
  "vertices": [
    {
      "hashcode": "0",
      "exp": "initial",
      "role": "",
      "contexts": [
      ],
    },
    {
      "hashcode": "1",
      "exp": "exp",
      "role": "Alice",
      "contexts": [
      ],
    },
    {
      "hashcode": "2",
      "exp": "",
      "role": "Alice",
      "contexts": [
      ],
    },
    {
      "hashcode": "3",
      "exp": "",
      "role": "Bob",
      "contexts": [
      ],
    },
    {
      "hashcode": "4",
      "exp": "",
      "role": "Bob",
      "contexts": [
      ],
    },
    {
      "hashcode": "5",
      "exp": "",
      "role": "Bob",
      "contexts": [
      ],
    },
    {
      "hashcode": "6",
      "exp": "",
      "role": "Alice",
      "contexts": [
      ],
    },
    {
      "hashcode": "7",
      "exp": "",
      "role": "Alice",
      "contexts": [
      ],
    },
    {
      "hashcode": "8",
      "exp": "",
      "role": "Alice",
      "contexts": [
      ],
    },
    {
      "hashcode": "9",
      "exp": "",
      "role": "Bob",
      "contexts": [
      ],
    },
  ],
  "edges": [
    [
      "0",
      "1",
    ],
    [
      "1",
      "2",
    ],
    [
      "2",
      "3",
    ],
    [
      "3",
      "4",
    ],
    [
      "4",
      "5",
    ],
    [
      "5",
      "6",
    ],
    [
      "6",
      "7",
    ],
    [
      "7",
      "8",
    ],
    [
      "8",
      "9",
    ],
  ]
}
);

    const textAreaHeightObserver = new ResizeObserver(entries => {
        entries.forEach(entry => {
            Array.prototype.forEach.call(entry.target.parentNode.getElementsByTagName("textarea"), function (element) {
                if (element != entry) {
                    element.style.height = entry.target.style.height
                }
            });
        });
    });

    const alternativesWidthObserver = new ResizeObserver(entries => {
        entries.forEach(entry => {
            size = 0
            Array.prototype.forEach.call(entry.target.getElementsByClassName("right-half"), function (element) {
                size = size + element.offsetWidth
            });
            Array.prototype.forEach.call(Array.prototype.slice.call(entry.target.parentNode.childNodes, 1), function (element) {
                element.style.width = size + "px"
            });
        });
    });

    

</script>
{% endblock %}